.Accodionsection{
    padding: 120px 0;
    .span{
        padding: 0 10px ;
        color: #53B175;
        font-size: 20px;
        margin-left: -10px;
    }
    .acca{
        display: flex;
        justify-content: space-between;
        
        &__left{
            width: 40%;
            &__link{
                width: 25%;
                display: block;
                background-color: aqua;
                padding: 5px 15px;
                color: black;
                display: flex;
                align-items: center;
                gap: 30px;
                text-decoration: none;
                background: rgba(83, 177, 117, 0.2);
                border-radius: 50px;
            }
        }
        
        &__right{
            width: 60%;
        }
    }
}