.Foursection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    
    &__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-top: 100px;
        
        /* Labels/Light/Seconday */
        
        color: #282828;
    }
    &__link{
        text-decoration: none;
        background: rgba(83, 177, 117, 0.31);
        border-radius: 30px;
        padding: 5px 15px;
        display: block;
        width: 23%;
        font-size: 19px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
        color: black;
        margin-left: 50px;
        &:hover{
                opacity:0.7;
            color: black;
        }
    }
    &__icons{
        color: #53B175;
    }
}